.backleft img {
	width: .18rem;
	margin: .3rem 0 .4rem;
}

#app {
	padding: 0 .26rem;
}

.name {
	font-size: .46rem;
	margin-bottom: .26rem;
}

li {
	margin-bottom: .2rem;
	background: url(../img/broadcast.png) no-repeat;
	background-size: 100%;
	padding: .2rem .2rem .34rem;
}

li p {
	font-size: .2rem;
}

li .title {
	font-size: .3rem;
	margin-bottom: .3rem;
}

li .cen {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}
