.tophader {
	position: relative;
	padding: .25rem 0;
}

.tophader img {
	position: absolute;
	left: .3rem;
	width: .18rem;
}
.settitle{
	font-size: .46rem;
	padding: .5rem .3rem 0rem;
}
.tish{
	font-size: .24rem;
	padding: .3rem;
}
.choicecry{
	height: 1.02rem;
	width: 84%;
	margin: auto;
	line-height: 1.02rem;
	padding: 0 .3rem;
	background: #013F40;
	display: flex;
	justify-content: space-between;
}
.choicecry img{
	width: .15rem;
	display: inline-block;
	position: relative;
	left: .1rem;
	top: .03rem;
}
.gvid{
	height: 1.02rem;
	padding: 0 .3rem;
	line-height: 1.02rem;
	font-size: .3rem;
	background: #013F40;
	margin:.4rem auto;
	width: 84%;
}
ul{
	width: 92%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
li{
	width: 2.1rem;
	height: .8rem;
	font-size: .3rem;
	text-align: center;
	line-height: .8rem;
	background: #013F40;
	border-radius:3px;
}