.top{
	display: flex;
	justify-content: space-between;
	padding: .23rem .3rem;	
}
.top .left{
	width: .36rem;
	height: .36rem;
	position: relative;
	top: .1rem;
}
.top .right{
	width: .35rem;
	height: .26rem;
	position: relative;
	top: .2rem;
}
.top p{
	font-size: .36rem;
}
.topcen{
	height: 2.6rem;	
	margin-bottom: .3rem;
}
.topcen img{
	width: 100%;
}
.midimg{
	background: url(../img/homemid.png) no-repeat;
	background-size: 100%;
	width: 70%;
	height: 2.3rem;
	margin: 0 auto .4rem;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 0 10%;
	font-size: .3rem;
}
.midimg img{
	width: 1.1rem;
	height: 1.08rem;
}

.nextimg{
	display: block;
	width: 2.61rem;
	margin: auto;
	margin-bottom: .3rem;
}