.tophader {
	position: relative;
	padding: .25rem 0;
}

.tophader img {
	position: absolute;
	left: .3rem;
	width: .18rem;
}
.settitle{
	font-size: .46rem;
	padding: .5rem .3rem 0rem;
}
.searchbox{
	width:92%;
	margin:.2rem auto;
	height: 1.02rem;
	background: #013F40;
	position: relative;
}
.searchbox img{
	width: .32rem;
	height: .32rem;
	position: absolute;
	top: 42%;
	left: 10%;
}
.searchbox input{
	background: none;
	position: absolute;
	top: 38%;
	left: 18%;
	color: #F9E92A;
}
.divli{
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: .2rem .3rem 0;
	font-size: .3rem;
}
.divli img{
	display: inline-block;
}
.divli .frontimg{
	width: .86rem;
	/* border: 1px dashed white; */
}
.hr{
	height: .02rem;
	background: rgba(67,67,67,1);
	width: 92%;
	margin: auto;
	margin-bottom: .1rem;
	color: #434343;
}
.divli .onespan{
	position: relative;
	left: .25rem;
	bottom: .25rem;
}
.divli p:nth-of-type(2){
	position: relative;
	top: .3rem;
}
.divli .spant{
	margin-right: .2rem;
}
.divli .jtou{
	width:.16rem;
	position: relative;
	top: .03rem;
}
.changebton{
	width: 6.9rem;
	background: #013F40;
	height: 1rem;
	margin: 1.3rem .3rem;
	text-align: center;
	color: #DCCE27;
	border-radius: 10px;
	font-size: .3rem;
	}